body{
    padding: 0px 60px;
}
.header{
    background-color: rgb(91, 155, 212);
    border-radius: 20px;
    border: 2px solid rgb(70, 120, 165);
    padding: 20px 40px;
    height: 95px;
    box-shadow: -3px -3px rgb(223, 222, 221);
}
.navBarHeading{
    float: left;
    padding: 4% 2% 0% 2%;
    font-size: 24px;
    font-family: Sans-serif;
    
}
.navBarHeading>a{
    text-decoration: none;
    color: black;

}
.navBarHeading:hover{
    font-weight: bold;
    cursor: pointer;
}
.logo{
    float: left;
    padding: 0px 15% 0px 0px;
}
.image>img{
    float: right;
    border-radius: 9px;
}
ul{
    padding: 0px 15px;
}
.video>iframe{
    width: 100%;
    height: 500px;
    border-radius: 20px;
}
.footer{
    font-family: sans-serif;
    background-color: rgb(91, 155, 212);
    border-radius: 8px;
    border: 2px solid rgb(70, 120, 165);
    margin: 10px 0px;
    width: 100%;
    text-align: center;
    padding: 3px 0px;
    
}